<ion-view view-title="Order In History">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
	June 17, 2010
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders" type="item text-wrap">
	<h2>{{order.name}}</h2>
      </ion-item>
      <div class="item item-divider">
	June 16, 2010
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders" type="item text-wrap">
	<h2>{{order.name}}</h2>
      </ion-item>
      <div class="item item-divider">
	June 12, 2010
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders" type="item text-wrap">
	<h2>{{order.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
