.container-wrapper-bridge {
    background: url(../img/bg-home.png) top center no-repeat #57448a;
    background-attachment: fixed;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.titleimage {
    height: 100%;
    width: auto;
}

.post {
    border-bottom: 0px;
}

.post-details {
    vertical-align: top;
    width: 100%;
}

.post-thumb-left {
    padding-right: 40px;
}

.post-thumb-right {
    padding-left: 40px;
}

.facebox-image-8 {
    background-image: url(../img/model-008.png);
    background-position: center center;
    background-size: 100%;
}

.margin-top-80 {
    margin-top: 80px !important;
}